{%- assign product = product | default: all_products[handle] -%}
{% if product == nil %}
  <p>{{- 'products.card.not_found' | t | default: 'Product not found' -}}</p>
  {% break %}
{% endif %}
{{ 'tailwind.output.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-spotlight.js' | asset_url }}" defer></script>
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
<script src="{{ 'dark-mode-toggle.js' | asset_url }}" defer></script>

<section class="page-width spotlight bg-white dark:bg-black">
<div class="flex justify-end p-4"> 
    <label for="theme-switch" class="relative inline-block w-11 h-6 cursor-pointer">
      <input 
      type="checkbox" 
      id="theme-switch" 
      class="peer sr-only"
      aria-label="{{- 'products.product.switch_color_theme' | t | default: 'Switch color theme' -}}">
      <span class="absolute inset-0 bg-gray-200 rounded-full transition-colors duration-200 ease-in-out peer-checked:bg-blue-600 dark:bg-neutral-700 dark:peer-checked:bg-stone-400 peer-disabled:opacity-50 peer-disabled:pointer-events-none"></span>  
      <span class="absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-white rounded-full shadow-sm !transition-transform duration-200 ease-in-out peer-checked:translate-x-full dark:bg-neutral-400 dark:peer-checked:bg-white"></span>
    </label>
  </div>
  <div class="flex flex-wrap gap-20 mt-6">
    <div class="flex-1 w-full xl:flex xl:gap-20 xl:flex-row-reverse">
      <div class="relative">
        <img
          id="main-product-image"
          src="{{ product.featured_image | image_url: width: 500 |  default: product.images.first | image_url: width: 500 }}"
          width="500"
          height="500"
          alt="{{- product.title | escape -}}"
          class="rounded-2xl w-full h-auto object-cover aspect-square" />

        {%  render 'badge', product: product %}
      </div>
      <div class="swiper thumbs-swiper">
        <div class="swiper-wrapper h-auto! w-full h-auto max-w max-w-screen" id="thumbs-swiper-wrapper"></div>
      </div>
    </div>
    <div class="product-info flex flex-col gap-10 justify-between flex-1">
      <h2 class="product-title dark:text-white!">{{- product.title | escape -}}</h2>
      <div class="price-container" id="variant-price">
        {% capture price_html %}
        {% render 'product-price-spotlight'
          , product: product %}
          {% endcapture %}
        {{- price_html -}}
      </div>
      {% assign color_index = nil %}
      {% assign color_option_name = product.metafields.custom.option_color_name | default: 'products.options.color' | t %}
      {% assign normalized_color_name = color_option_name | downcase %}

      {% for opt in product.options_with_values %}
        {% assign opt_name = opt.name | downcase %}
        {% if opt_name == normalized_color_name %}
          {% assign color_index = forloop.index0 %}
        {% endif %}
      {% endfor %}

      {% if color_index != nil %}
        {% render 'color-swatcher'
          , product: product
          , option_index: color_index %}
      {% endif %}
      {% assign initial_variant = product.selected_or_first_available_variant %}
      <div
        class="dark:text-white"
        id="variant-stock"
        data-available-prefix="{{- 'products.card.available_prefix' | t | default: 'In Stock: ' -}}"
        data-not-available-text="{{- 'products.card.not_available' | t | default: 'Not Available' -}}"></div>
      {% assign size_index = nil %}
      {% assign size_option_name = product.metafields.custom.option_size_name | default: 'products.options.size' | t %}
      {% assign normalized_size_name = size_option_name | downcase | strip %}

      {% for opt in product.options_with_values %}
        {% assign opt_name = opt.name | downcase | strip %}
        {% if opt_name contains normalized_size_name %}
          {% assign size_index = forloop.index0 %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if size_index != nil %}
        <div class="size-options">
          <div class="flex flex-wrap gap-4 mt-5" id="size-container"></div>
        </div>

        <script id="product-variants-data" type="application/json">
          [
            {% for variant in product.variants %}
              {
                "size": "{{- variant.options[size_index] | strip | default: '' -}}",
                "color": "{{- variant.options[color_index] | strip | default: '' -}}",
                "id": {{- variant.id -}},
                "qty": {{- variant.inventory_quantity | default: 0 -}},
                "available": {{- variant.available -}},
                "price": {{- variant.price -}},
                "compare_at_price": {{- variant.compare_at_price | default: 0 -}},
                "price_money": "{{- variant.price | money | default: '1000000' -}}",
                "compare_at_price_money": "{{- variant.compare_at_price | money | default: '1000000' -}}",
                "imageUrl": {%- if variant.featured_image -%}"{{- variant.featured_image | image_url: width: 600 -}}"{%- else -%}""{%- endif -%},
                "thumbUrl": {%- if variant.featured_image -%}"{{- variant.featured_image | image_url: width: 88 -}}"{%- else -%}""{%-endif -%}
              }{%- unless forloop.last -%},{%- endunless -%}
            {% endfor %}
          ]
        </script>
      {% endif %}

      {% assign initial_variant = product.selected_or_first_available_variant %}
      <a
        href="{{ routes.cart_url }}?variant={{ initial_variant.id | default: 0 }}&quantity=1"
        id="add-to-cart-link"
        class="py-6 px-10 inline-block bg-black text-white add-to-cart text-center w-full rounded-2xl hover:bg-stone-400 dark:border-1 dark:border-white dark:hover:text-black dark:hover:bg-white transition-colors duration-200"
        role="button">
        {{- 'products.card.add_to_cart' | t | default: 'Add To Cart' -}}
      </a>


      {% if product.description != blank %}
        <p class="text dark:text-white">{{- product.description | strip_html | truncate: 200 -}}</p>
      {% endif %}
    </div>
  </div>
</section>

<script>
      window.ProductSpotlightSettings = {
    productUrl: '{{- product.url | escape -}}'
  };
</script>